.navbar {
  font-family: "Roboto Mono", monospace;
}

main {
  font-family: "Roboto", sans-serif;
  margin-bottom: 65px;
}

.message-container {
  min-height: 50px;
}

.card-list {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 20px;
}

.card-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container > img {
  width: 100%;
}

.card-container a {
  text-decoration: none;
  color: black;
}

.pagination-container {
  position: relative;
}

.pagination {
  margin: 0 auto;
}

.widget {
  display: inline;
}

.widget-left {
  float: left;
}

.widget-left img {
  width: 100%;
  margin: 0 auto;
}

.widget-right {
  display: inline;
  text-align: center;
}
.comment-card {
  column-count: 1;
  margin-bottom: 25px;
}
