.navbar {
  font-family: "Roboto Mono", monospace;
}

main {
  margin-bottom: 65px;
  font-family: "Roboto", sans-serif;
}

.message-container {
  min-height: 50px;
}

.card-list {
  width: 85vw;
  margin: 0 auto;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 20px;
}

.card-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: lightcyan;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container > img {
  width: 100%;
}

.pagination-container {
  position: relative;
}
